@import "../../styles/scss/index.scss";

.main-container__container {
  .main-container__progress {
    margin: 10px 0px;
    @include flex(row, flex-start, center);
    p {
      width: 30%;
    }
    progress {
      width: 70%;
    }
  }
}
